* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* bootstrap class changing */
.offcanvas-top {
    height: 60vh !important;
}

/* header */
.brand-logo {
    height: 10rem !important;
    width: 10rem !important;
}


/* main section */
.main {
    min-height: calc(100vh - 300px);
    margin-bottom: 2rem;
}

.card-container {
    width: 15rem;
}

.canvas-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.canvas-img:hover {
    scale: 1.2;
    /* transition: all 0.5s ease-in-out; */
}

@media screen and (max-width: 620px) {
    .card-container {
        width: 100vw;
    }

    .canvas-img {
        width: 130px;
        height: 130px;
    }

    .offcanvas-top {
        height: 100% !important;
    }
}


/* footer section */
.footer {
    min-height: 300px;
}