* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* bootstrap class changing */
.offcanvas-top {
    height: 60vh !important;
}

/* header */
.brand-logo {
    height: 10rem !important;
    width: 10rem !important;
}


/* main section */
.main {
    min-height: calc(100vh - 300px);
    margin-bottom: 2rem;
}

.card-container {
    width: 16.5rem;
}

.canvas-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.canvas-img:hover {
    scale: 1.2;
    /* transition: all 0.5s ease-in-out; */
}


/* footer section */
.footer {
    min-height: 300px;
    overflow-x: hidden;
}

.brand-image-footer {
    width: 250px;
    height: 10rem;
    object-fit: cover;
    border-radius: 10px;
}

.image-rounded {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    object-fit: cover;
}

.footer-heading {
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 2px;
}

#footer-text-links a {
    color: white !important;
    text-decoration: none !important;
}

#footer-text-links a:hover {
    text-decoration: underline !important;
    color: white !important;
}

.divider {
    border: 1px solid white;
    width: 95vw;
    display: flex;
    align-self: center;
    justify-self: center;
}

@media screen and (max-width: 620px) {
    .card-container {
        width: 100vw;
    }

    .canvas-img {
        width: 130px;
        height: 130px;
    }

    .offcanvas-top {
        height: 100% !important;
    }

    .footer-heading {
        font-weight: 500;
        font-size: 1rem;
    }
}